body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

:root {
    --main-color: #cfd8dc;
    --secondary-color: #1565c0;
    --main-text-color: #3e5869;
    --secondary-text-color: white;
    --send-message-form: #b0bec5;
    --room-form: whitesmoke;
    --message-list: whitesmoke;
}

#appbar {
  height: 7.5%;
}

#restofapp {
  height: 92.5%;
}

.User-Page {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 50px;
  grid-template-areas: 
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'r m m m m m'
    'n f f f f f';
}

.Room-List {
  grid-area: r;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  height: 100%;
}

.Room-List ul {
    list-style-type: none;    
    padding: 0;
    overflow: scroll;
}

.Room-List li {
    margin: 10px 0;
}

.Room-List h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.Room-List .room {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
 }

 .Room-List .room.active {
    color: var(--secondary-color);
}

.Message-List {
  grid-area: m;
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: var(--message-list);
}

.Message-List .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.message {
    margin: 15px 0;
}

.message .message-username {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}

.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}



.Room-Form {
  grid-area: n;
  padding: 0 5px;
  background: var(--room-form);
  color: var(--main-text-color);
}

.Room-Form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Room-Form input {
    width: 135px;
    background: var(--room-form);
    border: 0;
}

.Room-Form button {
    background: var(--room-form);
    color: var(--main-text-color);
    border: 0;
} 

.Room-Form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
}

.Room-Form input:focus {
    outline-width: 0;
}

.Message-Form {
  grid-area: f;
  background: var(--send-message-form);
  display: flex;
}

.Message-Form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;
}

.Message-Form input:focus {
    outline-width: 0;
}

.Message-Form input::placeholder {
    color: var(--main-text-color);
}
